In [1]:
import requests
import json
import pandas as pd
from datetime import datetime
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
import re

#pd.set_option('display.max_columns', None)  # or 1000
#pd.set_option('display.max_rows', None)  # or 1000
#pd.set_option('display.max_colwidth', None)  # or 199

In [4]:
# Call the API
def get_response(url):
    response = requests.request("GET", url).text
    return json.loads(response)

In [5]:
#Import History Data First:
url_hist = "https://api.rootnet.in/covid19-in/stats/history"
url_latest = "https://api.rootnet.in/covid19-in/stats/latest"
conn = sqlite3.connect('C:/Users/Punam-Manu/Desktop/covid_data.sqlite')

In [6]:
# Get History data
response_info_hist = get_response(url_hist)
day_data_hist = []
for day_data in response_info_hist['data']:
    for covid_data_hist in day_data['regional']:
        day_data_hist.append(['India',covid_data_hist['loc'],covid_data_hist['totalConfirmed'],covid_data_hist['discharged'],covid_data_hist['deaths']
                       ,(covid_data_hist['totalConfirmed']-(covid_data_hist['discharged'] + covid_data_hist['deaths'])),day_data['day'] + ' 00:00:00'])

In [7]:
# Get Current Data
response_info = get_response(url_latest)
now = datetime.now().strftime("%Y-%m-%d") + " 00:00:00"
covid_data = []

for covid_state in response_info['data']['regional']:
    covid_data.append(['India',covid_state['loc'],covid_state['totalConfirmed'],covid_state['discharged'],covid_state['deaths']
                       ,(covid_state['totalConfirmed']-(covid_state['discharged'] + covid_state['deaths'])),now])

In [8]:
covid_df_history = pd.DataFrame(data=day_data_hist, columns = ['Country','State','Total_Cases','Discharged','Deaths','Active_Cases','Date'])
covid_df = pd.DataFrame(data=covid_data, columns = ['Country','State','Total_Cases','Discharged','Deaths','Active_Cases','Date'])

In [9]:
#covid_df_history
#covid_df
covid_df_all = pd.concat([covid_df_history,covid_df],ignore_index=True)

In [10]:
covid_df_all = covid_df_all[~covid_df_all['State'].str.contains(r'[@#&$%+-/*]')]
covid_df_all = covid_df_all[(covid_df_all['State'] != "Dadar Nagar Haveli") & (covid_df_all['State'] != "Telengana")]

# Buld a logic for calculating one day rise in all segment
covid_df_all['Change_in_Active'] = covid_df_all.groupby(['Country','State'])['Active_Cases'].shift(1,fill_value = 0)
covid_df_all['Change_in_Active'] = covid_df_all['Active_Cases'] - covid_df_all['Change_in_Active']

covid_df_all['Change_in_Discharged'] = covid_df_all.groupby(['Country','State'])['Discharged'].shift(1,fill_value = 0)
covid_df_all['Change_in_Discharged'] = covid_df_all['Discharged'] - covid_df_all['Change_in_Discharged']

covid_df_all['Change_in_Deaths'] = covid_df_all.groupby(['Country','State'])['Deaths'].shift(1,fill_value = 0)
covid_df_all['Change_in_Deaths'] = covid_df_all['Deaths'] - covid_df_all['Change_in_Deaths']

covid_df_all.to_sql('covid_data', conn, if_exists='replace', index=False)

#covid_df_all

In [11]:
covid_df_all

,Country,State,Total_Cases,Discharged,Deaths,Active_Cases,Date,Change_in_Active,Change_in_Discharged,Change_in_Deaths
0,India,Delhi,4,0,0,4,2020-03-10 00:00:00,4,0,0
1,India,Haryana,14,0,0,14,2020-03-10 00:00:00,14,0,0
2,India,Karnataka,1,0,0,1,2020-03-10 00:00:00,1,0,0
3,India,Kerala,9,0,0,9,2020-03-10 00:00:00,9,0,0
4,India,Maharashtra,2,0,0,2,2020-03-10 00:00:00,2,0,0
...,...,...,...,...,...,...,...,...,...,...
15751,India,Telangana,591170,560776,3378,27016,2021-06-07 00:00:00,-2192,3614,14
15752,India,Tripura,55469,48984,564,5921,2021-06-07 00:00:00,-560,789,6
15753,India,Uttarakhand,334024,311200,6699,16125,2021-06-07 00:00:00,-1180,1591,35
15754,India,Uttar Pradesh,1698389,1659209,21236,17944,2021-06-07 00:00:00,-1494,2446,85
15755,India,West Bengal,1426132,1374419,16259,35454,2021-06-07 00:00:00,-8987,15882,107

In [25]:
import datetime

data = pd.read_sql("Select * from covid_data", conn)
mask = (data.State == 'Assam')
filtered_data = data.loc[mask, :].reset_index(drop=True)
start_date = datetime.date.today().strftime("%Y-%m-%d")
end_date=(datetime.datetime.now() - datetime.timedelta(30)).strftime("%Y-%m-%d")
end_date

'2021-04-15'

In [36]:
new_data = filtered_data[(filtered_data['Date'] < start_date) &(filtered_data['Date'] > end_date)]
new_data

,Country,State,Total_Cases,Discharged,Deaths,Active_Cases,Date,Change_in_Active,Change_in_Discharged,Change_in_Deaths
379,India,Assam,221868,216199,1122,4547,2021-04-15 00:00:00,276,106,3
380,India,Assam,222367,216284,1123,4960,2021-04-16 00:00:00,413,85,1
381,India,Assam,222940,216397,1127,5416,2021-04-17 00:00:00,456,113,4
382,India,Assam,223816,216546,1129,6141,2021-04-18 00:00:00,725,149,2
383,India,Assam,224455,216705,1135,6615,2021-04-19 00:00:00,474,159,6
384,India,Assam,225822,217017,1142,7663,2021-04-20 00:00:00,1048,312,7
385,India,Assam,227473,217296,1145,9032,2021-04-21 00:00:00,1369,279,3
386,India,Assam,229138,217593,1150,10395,2021-04-22 00:00:00,1363,297,5
387,India,Assam,231069,217991,1160,11918,2021-04-23 00:00:00,1523,398,10
388,India,Assam,233453,218339,1172,13942,2021-04-24 00:00:00,2024,348,12
389,India,Assam,235689,218958,1186,15545,2021-04-25 00:00:00,1603,619,14
390,India,Assam,237533,219516,1200,16817,2021-04-26 00:00:00,1272,558,14
391,India,Assam,240670,220344,1215,19111,2021-04-27 00:00:00,2294,828,15
392,India,Assam,243802,221299,1233,21270,2021-04-28 00:00:00,2159,955,18
393,India,Assam,246847,222397,1255,23195,2021-04-29 00:00:00,1925,1098,22
394,India,Assam,249926,224194,1281,24451,2021-04-30 00:00:00,1256,1797,26
395,India,Assam,253123,226643,1307,25173,2021-05-01 00:00:00,722,2449,26
396,India,Assam,256576,228872,1330,26374,2021-05-02 00:00:00,1201,2229,23
397,India,Assam,258961,231703,1360,25898,2021-05-03 00:00:00,-476,2831,30
398,India,Assam,263450,234237,1389,27824,2021-05-04 00:00:00,1926,2534,29
399,India,Assam,267925,237088,1430,29407,2021-05-05 00:00:00,1583,2851,41
400,India,Assam,272751,240004,1485,31262,2021-05-06 00:00:00,1855,2916,55
401,India,Assam,277687,242980,1531,33176,2021-05-07 00:00:00,1914,2976,46
402,India,Assam,283313,246242,1578,35493,2021-05-08 00:00:00,2317,3262,47
403,India,Assam,289069,249295,1628,38146,2021-05-09 00:00:00,2653,3053,50
404,India,Assam,292368,253340,1676,37352,2021-05-10 00:00:00,-794,4045,48
405,India,Assam,298171,257571,1753,38847,2021-05-11 00:00:00,1495,4231,77
406,India,Assam,304429,261980,1838,40611,2021-05-12 00:00:00,1764,4409,85
407,India,Assam,310086,265860,1909,42317,2021-05-13 00:00:00,1706,3880,71
408,India,Assam,315554,270079,1984,43491,2021-05-14 00:00:00,1174,4219,75

In [12]:
data = pd.read_sql("Select * from covid_data", conn)
data

,Country,State,Total_Cases,Discharged,Deaths,Active_Cases,Date,Change_in_Active,Change_in_Discharged,Change_in_Deaths
0,India,Delhi,4,0,0,4,2020-03-10 00:00:00,4,0,0
1,India,Haryana,14,0,0,14,2020-03-10 00:00:00,14,0,0
2,India,Karnataka,1,0,0,1,2020-03-10 00:00:00,1,0,0
3,India,Kerala,9,0,0,9,2020-03-10 00:00:00,9,0,0
4,India,Maharashtra,2,0,0,2,2020-03-10 00:00:00,2,0,0
...,...,...,...,...,...,...,...,...,...,...
14508,India,Telangana,525007,469007,2928,53072,2021-05-16 00:00:00,-3845,12387,61
14509,India,Tripura,40816,35522,431,4863,2021-05-16 00:00:00,829,376,5
14510,India,Uttarakhand,283239,198616,4623,80000,2021-05-16 00:00:00,1696,9355,378
14511,India,Uttar Pradesh,1609140,1414259,17238,177643,2021-05-16 00:00:00,-27015,54583,592
14512,India,West Bengal,1114313,969228,13137,131948,2021-05-16 00:00:00,1735,38342,280

In [20]:
rise_active

,Change_in_Active,Country,State,Total_Cases,Discharged,Deaths,Active_Cases,Date,Change_in_Active,Change_in_Discharged,Change_in_Deaths
0,18,India,Andaman and Nicobar Islands,6542,6225,85,232,2021-05-15 00:00:00,18,12,2
1,2745,India,Andhra Pradesh,1388803,1175843,9173,203787,2021-05-15 00:00:00,2745,19177,96
2,35,India,Arunachal Pradesh,21373,19094,77,2202,2021-05-15 00:00:00,35,223,5
3,-166,India,Assam,319632,274247,2060,43325,2021-05-15 00:00:00,-166,4168,76
4,-6714,India,Bihar,637679,544445,3670,89564,2021-05-15 00:00:00,-6714,14131,77
5,-283,India,Chandigarh,54043,45268,617,8158,2021-05-15 00:00:00,-283,925,8
6,-3486,India,Chhattisgarh,899925,772500,11461,115964,2021-05-15 00:00:00,-3486,10908,172
7,-129,India,Dadra and Nagar Haveli and Daman and Diu,9335,8404,4,927,2021-05-15 00:00:00,-129,207,0
8,-5923,India,Delhi,1380981,1288280,20907,71794,2021-05-15 00:00:00,-5923,14140,289
9,-566,India,Goa,132585,98200,1998,32387,2021-05-15 00:00:00,-566,2960,61
10,-5474,India,Gujarat,735348,609031,8944,117373,2021-05-15 00:00:00,-5474,15365,104
11,-4133,India,Haryana,675636,570227,6402,99007,2021-05-15 00:00:00,-4133,14577,164
12,-385,India,Himachal Pradesh,153717,111896,2198,39623,2021-05-15 00:00:00,-385,3362,67
13,-847,India,Jammu and Kashmir,236790,181762,3027,52001,2021-05-15 00:00:00,-847,3814,60
14,-3412,India,Jharkhand,310024,260602,4366,45056,2021-05-15 00:00:00,-3412,7112,76
15,5527,India,Karnataka,2130267,1510557,21085,598625,2021-05-15 00:00:00,5527,35879,373
16,3282,India,Kerala,2085583,1636790,6243,442550,2021-05-15 00:00:00,3282,31319,93
17,7,India,Ladakh,16156,14439,163,1554,2021-05-15 00:00:00,7,231,2
18,71,India,Lakshadweep,4568,3392,13,1163,2021-05-15 00:00:00,71,102,0
19,-3672,India,Madhya Pradesh,716708,605423,6841,104444,2021-05-15 00:00:00,-3672,11671,88
20,-14021,India,Maharashtra,5309215,4707980,79552,521683,2021-05-15 00:00:00,-14021,53249,695
21,329,India,Manipur,38322,31872,552,5898,2021-05-15 00:00:00,329,381,16
22,288,India,Meghalaya,22203,17909,280,4014,2021-05-15 00:00:00,288,327,12
23,-85,India,Mizoram,8499,6411,23,2065,2021-05-15 00:00:00,-85,207,0
24,190,India,Nagaland,17531,13600,190,3741,2021-05-15 00:00:00,190,72,13
25,3039,India,Odisha,588687,491674,2273,94740,2021-05-15 00:00:00,3039,9329,22
26,856,India,Puducherry,80947,62424,1099,17424,2021-05-15 00:00:00,856,1088,30
27,-591,India,Punjab,483984,393148,11477,79359,2021-05-15 00:00:00,-591,8446,180
28,864,India,Rajasthan,835814,616589,6472,212753,2021-05-15 00:00:00,864,13270,155
29,56,India,Sikkim,10855,7655,198,3002,2021-05-15 00:00:00,56,170,6
30,11567,India,Tamil Nadu,1531377,1318982,17056,195339,2021-05-15 00:00:00,11567,20037,288
31,-2085,India,Telangana,520709,462981,2896,54832,2021-05-15 00:00:00,-2085,6361,29
32,196,India,Tripura,40055,35396,429,4230,2021-05-15 00:00:00,196,250,3
33,1075,India,Uttarakhand,277585,193780,4426,79379,2021-05-15 00:00:00,1075,4519,181
34,-10843,India,Uttar Pradesh,1596627,1385855,16957,193815,2021-05-15 00:00:00,-10843,26179,311
35,1579,India,West Bengal,1094802,950017,12993,131792,2021-05-15 00:00:00,1579,19131,136